*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   body{
    min-height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
   .screen{
    width: 100%;
    font-size: 7rem;
    padding: 0.5rem;
    text-align: right;
    background: rgb(41,41,56);
    color: white;
    border:none;
   }
   
   .calculator-container{
    display: grid;
    grid-template-areas: "btn-clear btn-clear btn-arrow btn-divide"
    "btn-7 btn-8 btn-9 btn-x"
    "btn-4 btn-5 btn-6 btn-minus"
    "btn-1 btn-2 btn-3 btn-plus" 
    'btn-zero btn-zero btn-zero btn-equal';
   }
   .btn-zero{
    grid-area: btn-zero;
   }
   .btn-clear{
    grid-area: btn-clear;
   }
   .btn-arrow{
    grid-area: btn-arrow;
   }
   .btn-divide{
    grid-area: btn-divide;
   }
   .btn-number{
    grid-area: btn-number;
   }
   
   button{
    flex:0 0 25%;
    border: 1px solid black;
    padding: 0.25rem 0;
    background-color: #d8d9db;
    font-size: 4rem;
  
   }
   .btn{
    background-color: #d8d9db;
    font-size: 4rem;
    }
  .btn:hover{
    background-color: #eee9e9;
  }
  .btn-yellow:hover{
    background-color: #fc9;
   }
  .btn-yellow{
    background-color: #df974c;
     }
  